.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  .heroSection {
    height: 90vh;
    .heroVideo {
      z-index: -500;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
  .bookLink {
    margin: 20px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
  }
  .subtitle {
    margin-bottom: 20px;
    font-weight: 400;
    font-family: var(--normalFont);
  }
}

@media (min-width: 1024px) {
  .homePage {
    .heroSection {
      height: 85vh;
    }
  }
}
