.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  .card {
    background: #fff;
    padding: 5px 14px 14px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px 10px #2e2d2d27;
    .logo {
      height: 1rem;
      width: fit-content;
    }
    .image {
      width: 100%;
      max-width: 200px;
      aspect-ratio: 5 / 6;
      object-fit: cover;
    }
  }
  .title {
    text-align: center;
    color: #fff;
    font-size: 0.75rem;
    letter-spacing: 1px;
    font-family: var(--normalFont);
    font-weight: 300;
    text-transform: uppercase;
  }
}
