.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  .card {
    border-radius: 2px;
    // background: #fff;
    background: var(--backgroundColor);
    padding: 5px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // box-shadow: 10px 10px 10px 10px #2e2d2d27;
    box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.25);
    .logo {
      height: 1.8rem;
      width: fit-content;
    }
    .image {
      border-radius: 2px;
      width: 100%;
      max-width: 200px;
      aspect-ratio: 5 / 6;
      object-fit: cover;
    }
  }
  .title {
    text-align: center;
    color: #fff;
    font-size: 0.75rem;
    letter-spacing: 2px;
    font-family: var(--normalFont);
    font-weight: 300;
    text-transform: uppercase;
  }
}

@media (min-width: 769px) {
  .serviceCard {
    .card {
      max-width: 180px;
      padding: 10px 20px 20px 20px;
    }
  }
}
