.__highlightOnHover {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background: var(--darkColor);
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
  }
  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

._admin_head {
  position: sticky;
  top: 0;
  background: var(--backgroundColor);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

._pagination {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ._navigation {
    display: flex;
    gap: 20px;
    ._nav_icon {
      cursor: pointer;
      font-size: 25px;
    }
  }
}

.__buttonIcon {
  height: 1rem;
  width: fit-content;
}
